In [1]:
import pandas as pd

df = pd.DataFrame({
    'City': ['NY', 'NY', 'LA', 'LA'],
    'Year': [2023, 2024, 2023, 2024],
    'Temperature': [24, 26, 30, 31]
})

df_pivot = df.pivot_table(index='City', columns='Year', values='Temperature')
print(df_pivot)

Year  2023  2024
City
LA    30.0  31.0
NY    24.0  26.0

In [5]:
pd.crosstab(
    index=df['City'], 
    columns=df['Year'],
    values=df['Temperature'],
    aggfunc='sum'  # or sum, count etc.
)

Year  2023  2024
City
LA      30    31
NY      24    26

In [6]:
import pandas as pd

data = {
    'Product': ['Phone', 'Phone', 'Laptop', 'Laptop'],
    'Region': ['US', 'EU', 'US', 'EU'],
    'Sales': [500, 450, 1200, 1100]
}
df = pd.DataFrame(data)
print(df)

  Product Region  Sales
0   Phone     US    500
1   Phone     EU    450
2  Laptop     US   1200
3  Laptop     EU   1100

In [7]:
df_pivot = df.pivot(
    index='Product',
    columns='Region',
    values='Sales'
)
print(df_pivot)

Region     EU    US
Product
Laptop   1100  1200
Phone     450   500

In [8]:
df2 = pd.DataFrame({
    'Product': ['Phone', 'Phone', 'Phone', 'Laptop', 'Laptop', 'Laptop'],
    'Region': ['US', 'US', 'EU', 'EU', 'EU', 'US'],
    'Units': [1, 2, 3, 2, 5, 4]
})
print(df2)

  Product Region  Units
0   Phone     US      1
1   Phone     US      2
2   Phone     EU      3
3  Laptop     EU      2
4  Laptop     EU      5
5  Laptop     US      4

In [9]:
pd.crosstab(
    index=df2['Product'], 
    columns=df2['Region']
)

Region   EU  US
Product
Laptop    2   1
Phone     1   2

In [10]:
pd.crosstab(
    index=df2['Product'], 
    columns=df2['Region'],
    values=df2['Units'],
    aggfunc='sum'
)

Region   EU  US
Product
Laptop    7   4
Phone     3   3