In [1]:
import pandas as pd

df = pd.DataFrame({
    'City': ['NY', 'NY', 'LA', 'LA'],
    'Year': [2023, 2024, 2023, 2024],
    'Temperature': [24, 26, 30, 31]
})

In [3]:
df.pivot(index='City', columns='Year', values='Temperature')

Year  2023  2024
City
LA      30    31
NY      24    26

In [12]:
pd.crosstab(
    index=df['City'],
    columns=df['Year'],
    values=df['Temperature'],
    aggfunc='sum'
)

Year  2023  2024
City
LA      30    31
NY      24    26

In [14]:
df = pd.DataFrame({'Colors': ['red','blue','green']})

In [18]:
def combine_colors(df):
    df['Colors'] = df['Colors'] + '#'
    return df

In [19]:
df = df.pipe(combine_colors)

In [20]:
df

   Colors
0    red#
1   blue#
2  green#

In [21]:
df = pd.DataFrame({'A': [3,4,5],'B': [1,2,5]})

In [22]:
df.apply(sum, axis=0)

A    12
B     8
dtype: int64

In [23]:
df.apply(sum, axis=1)

0     4
1     6
2    10
dtype: int64

In [32]:
df.apply(lambda row: (row['A'] + row['B']) *2, axis=1)

0     8
1    12
2    20
dtype: int64

In [38]:
def custom_sum(df, col1, col2):
    df['C'] = (df[col1] + df[col2]) * 2
    return df

# Use pipe to apply the function
df = df.pipe(custom_sum, 'A', 'B')
print(df)

   A  B   C
0  3  1   8
1  4  2  12
2  5  5  20